#tabs main {
  min-width: 100%;
  max-width: 100%;
  padding: 20px 0px;
  margin: 0 auto;
  background: #fff;
}

#tabs section {
  display: none;
  padding: 13px 0 20px 0;
  border-top: 1px solid #ddd;
}

#tabs input.radio__tab {
  display: none;
}

#tabs label.label__tab {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  font-size: 0.889rem;
}

#tabs label:hover {
  color: #888;
  cursor: pointer;
}

#tabs input:checked + label.label__tab {
  color: #000;
  border: 1px solid #ddd;
  border-top: 2px solid #003cc5;
  border-bottom: 1px solid #fff;
}

#tabs #tab1:checked ~ #content1,
#tabs #tab2:checked ~ #content2,
#tabs #tab3:checked ~ #content3,
#tabs #tab4:checked ~ #content4 {
  display: block;
  position: relative;
}

@media screen and (max-width: 650px) {
  #tabs label.label__tab {
    font-size: 0;
  }
}

@media screen and (max-width: 400px) {
  #tabs label.label__tab {
    padding: 15px;
  }
}

#tabs label.disabled:hover,
#tabs label.disabled {
  cursor: default;
  opacity: 0.5;
  color: #bbb;
}
#tabs input:checked + label.disabled {
  border-top: 2px solid #bbb;
  color: #bbb;
}

#tabs section.disabled {
  border-top: 1px solid #eee;
}
